.calculation {
    position: relative;
    padding-top: 80px;
    &__tabs {
        margin-top: 32px;
        display: flex;
    }
    &__list {
        list-style-type: none;
    }
    &__item {
        margin-bottom: 30px;
        &_active>.btn_white {
            background-color: $main-color;
            color: #ffffff;
        }
    }
    &__content {
        display: none;
        margin-left: 30px;
        &_active {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__photos {
        max-width: 362px;
        max-height: 380px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .25s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__textblock {
        max-width: 454px;
        margin-left: 30px;
    }
    &__descr {
        margin-top: 14px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #1E2632;
    }
    &__dashlist {
        margin-bottom: 12px;
    }
    &__box {
        margin-top: 50px;
        width: 100%;
    }
}